.course{
    width: 300px;
    height: 550px;
    border: 2px solid #b9b6b6;
    border-radius: 6px;
    padding: 5px;
    box-shadow: 5px 5px 5px #c5c1c1;
}
.course img{
    width: 280px;
    height: 310px;
    border-radius: 7px;
}
.course-name{
    font-size: 22px;
    font-weight: 600;
}
